__pycache__/
.DS_Store
.vscode/

.env
.venv
.mypy_cache/

examples/
calcora/untracked/
calcora/external/
calcora.egg-info/

test/test_cache.py
test/test_ccompiler.py
test/test_derivatives.py
test/test_hash.py 

ctest.c
a.out

todo.txt